<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google font from step 5 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>


    <link rel="stylesheet" href="../static/style.css">
    <title>Visits</title>
</head>

<body>

    <header>
      <h1 id="webname">MuseumName</h1>
  
      <nav>
        <a href="../index.html">Home</a>
        <a href="visit.html">Visit</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html" class="cta">Buy Tickets</a>
      </nav>
    </header>
  
    <div class="main">
      <h2>Plan Your Visit</h2>
  
      <h3>Museum Hours</h3>
      <p>
        Monday-Friday: 10:00AM – 6:00PM<br>
        Saturday: 11:00AM – 7:00PM<br>
        Sunday: 11:00AM – 5:00PM
      </p>
  
      <h3>Address</h3>
      <p>
        5000 Forbes Ave, Pittsburgh, PA 15213
      </p>
  
      <h3>Directions</h3>
      <p>
        For public transport, you mak take the bus to Forbes Ave and walk 2 blocks to the main entrance.<br>
        Paid parking is available in nearby garages and street parking may be available
      </p>
    </div>
  
    <footer>
      <p>&copy; 2026 MuseumName. All rights reserved.</p>
    </footer>
  
  </body>
  