<body style="font-family: Arial">

    <header>
      <h1>MuseumName</h1>
  
      <nav>
        <a href="../index.html">Home</a>
        <a href="visit.html">Visit</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
      </nav>
    </header>
  
    <div class="main">
      <h2>Exhibitions</h2>
  
      <h3>Exhibition 1: jorge 1</h3>
      <p>
        example description
      </p>
  
      <h3>Exhibition 2: jorge 2</h3>
      <p>
        example description 2
      </p>
    </div>
  
    <footer>
      <p>&copy; 2026 MuseumName. All rights reserved.</p>
    </footer>
  
  </body>
  